services:
  postgres:
    image: postgres:16-alpine
    container_name: ponatech-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: ponatech-redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate:
    build:
      context: .
      dockerfile: apps/catalog-service/Dockerfile
    container_name: ponatech-migrate
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres:
        condition: service_healthy
    command: ["node", "node_modules/prisma/build/index.js", "migrate", "deploy", "--schema", "prisma/schema.prisma"]

  auth-service:
    build:
      context: .
      dockerfile: apps/auth-service/Dockerfile
    container_name: ponatech-auth-service
    env_file:
      - .env
    environment:
      AUTH_GRPC_PORT: ${AUTH_GRPC_PORT}
      AUTH_HTTP_PORT: ${AUTH_HTTP_PORT}
    ports:
      - "${AUTH_GRPC_PORT}:${AUTH_GRPC_PORT}"
      - "${AUTH_HTTP_PORT}:${AUTH_HTTP_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

  catalog-service:
    build:
      context: .
      dockerfile: apps/catalog-service/Dockerfile
    container_name: ponatech-catalog-service
    env_file:
      - .env
    environment:
      CATALOG_HTTP_PORT: ${CATALOG_HTTP_PORT}
      CATALOG_GRPC_PORT: ${CATALOG_GRPC_PORT}
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_PUBLIC_ENDPOINT: localhost
      MINIO_PUBLIC_PORT: ${MINIO_PORT}
      MINIO_PUBLIC_USE_SSL: ${MINIO_PUBLIC_USE_SSL:-false}
      MINIO_PUBLIC_PATH_PREFIX: ${MINIO_PUBLIC_PATH_PREFIX:-}
    ports:
      - "${CATALOG_HTTP_PORT}:${CATALOG_HTTP_PORT}"
      - "${CATALOG_GRPC_PORT}:${CATALOG_GRPC_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      minio:
        condition: service_started

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: ponatech-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - miniodata:/data

volumes:
  pgdata:
  redisdata:
  miniodata:
